{% extends "base.html" %}

{% block content %}

{% if form.errors %}
<p>Your username and password didn't match. Please try again.</p>
{% endif %}

{% if next %}
    {% if user.is_authenticated %}
    <p>Your account doesn't have access to this page. To proceed,
    please login with an account that has access.</p>
    {% else %}
    <p>Please login to see this page.</p>
    {% endif %}
{% endif %}

<!-- <form method="post" action="{% url 'login' %}">
{% csrf_token %}
<table>
   {{ form.as_table }}
</table>
<input type="submit" value="login" />
<input type="hidden" name="next" value="{{ next }}" />
</form> -->






<!-- testing  -->

    <form method="post" action="{% url 'login' %}" class="form-signin">
      <div class="text-center mb-4">
        <img class="mb-4" src="https://getbootstrap.com/assets/brand/bootstrap-solid.svg" alt="" width="72" height="72">
        <h1 class="h3 mb-3 font-weight-normal">Login In</h1>
        <p>Welcome to this website hope you enjoy.</p>
      </div>


      {% csrf_token %}
      <table>
         {{ form.as_table }}
      </table>
      <input type="submit" class="btn btn-lg btn-primary btn-block" value="login" />
      <input type="hidden" name="next" value="{{ next }}" />

    </form>
{% endblock %}
