{% extends 'base.html' %}

{% block title%} Lessons {% endblock title %}

{% block content %}
<h1>Lessons <span>Displaying all the lessons we have in database</span></h1>
<p>
   todo: display most liked lesson of the week.
</p>
{% if object_list %}
   {% for obj in object_list %}
      {% if not obj.is_draft %}

         <div class="card text-center">
           <div class="card-header">
             Featured - {{ obj.owner.username }}
           </div>
           <div class="card-body">
             <h5 class="card-title">
                <a href="/lessons/{{ obj.slug }}">
                   {{ obj.lesson_name }}  {% if obj.subtitle %}<small> {{ obj.subtitle }}</small> {% endif %}
                </a>
             </h5>
             {{ obj.subject }}

             <p class="card-text"> Todo, make 1-2 sentences only. {{ obj.abstract}}</p>
             <a href="/lessons/{{ obj.slug }}" class="btn btn-primary"> Read Lesson </a>
           </div>
           <div class="card-footer text-muted">
             Added - {{ obj.timestamp }} | Updated - {{ obj.updated }}
           </div>
         </div>
         <br />
      {% endif %}
   {% endfor %}
{% else %}
   <p>
      Todo: form for creating a lesson.
      <a href="#">Create your own lesson.</a>
   </p>
{% endif %}

{% endblock content %}
